{% load static %}

<!-- Dento Sidebar Area -->
<div class="col-12 col-lg-4">
    <div class="dento-sidebar">

        <!-- Single Widget Area -->
        <div class="single-widget-area search-widget">
            <form action="#" method="post">
                <input type="search" name="search" class="form-control" placeholder="Search ...">
                <button type="submit"><i class="icon_search"></i></button>
            </form>
        </div>

        <!-- Single Widget Area -->
        <div class="single-widget-area catagories-widget">
            <h5 class="widget-title">Categories</h5>

            <!-- catagories list -->
            <ul class="catagories-list">
                <li><a href="#">Dentistry Articles</a></li>
                <li><a href="#">Oral Health</a></li>
                <li><a href="#">Dental Technology</a></li>
                <li><a href="#">Kids Care Dental</a></li>
                <li><a href="#">Healthy Smiles, Inside &amp; Out</a></li>
            </ul>
        </div>

        <!-- Single Widget Area -->
        <div class="single-widget-area news-widget">
            <h5 class="widget-title">Recent News</h5>

            <!-- Single News Area -->
            <div class="single-news-area d-flex align-items-center">
                <div class="blog-thumbnail">
                    <img src="{% static 'website/img/bg-img/21.jpg' %}" alt="">
                </div>
                <div class="blog-content">
                    <a href="#" class="post-title">Tooth decay: why good dental hygiene is important</a>
                    <span class="post-date">28 Sep 2018</span>
                </div>
            </div>

            <!-- Single News Area -->
            <div class="single-news-area d-flex align-items-center">
                <div class="blog-thumbnail">
                    <img src="{% static 'website/img/bg-img/22.jpg' %}" alt="">
                </div>
                <div class="blog-content">
                    <a href="#" class="post-title">Six reasons your breath might smell like poop</a>
                    <span class="post-date">28 Sep 2018</span>
                </div>
            </div>

            <!-- Single News Area -->
            <div class="single-news-area d-flex align-items-center">
                <div class="blog-thumbnail">
                    <img src="{% static 'website/img/bg-img/23.jpg' %}" alt="">
                </div>
                <div class="blog-content">
                    <a href="#" class="post-title">Everything you need to know about sinus infection</a>
                    <span class="post-date">28 Sep 2018</span>
                </div>
            </div>
        </div>

        <!-- Single Widget Area -->
        <div class="single-widget-area adds-widget">
            <a href="#"><img class="w-100" src="{% static 'website/img/bg-img/adds.png' %}" alt=""></a>
        </div>

    </div>
</div>
