{% load static %}

<!-- Single Blog Item -->
<div class="single-blog-item style-2 d-flex flex-wrap align-items-center mb-50">
    <!-- Blog Thumbnail -->
    <div class="blog-thumbnail">
        <a href="{% url 'blog_details' %}">
            <img src="{% static 'website/img/bg-img/16.jpg' %}" alt="">
        </a>
    </div>
    <!-- Blog Content -->
    <div class="blog-content">
        <a href="{% url 'blog_details' %}" class="post-title">How your mouth bacteria can harm your lungs</a>
        <p>Donec tempor, lorem et euismod eleifend, est lectus laoreet ante, sed accusan justo diam nec tincidunt interdum ante consectetur dapibus molestie ...</p>
        <div class="post-meta">
            <a href="#"><i class="icon_clock_alt"></i> 28 Sep 2018</a>
            <a href="#"><i class="icon_chat_alt"></i> 3 Comments</a>
        </div>
    </div>
</div>
