{% extends 'base.html' %}

{% block content %}

{% include "fragments/breadcrumbs.html" with page="Contact" %}

  {% if message_name %}
  <div class="alert alert-success" role="alert">
    Thanks {{ message_name }}! - We received your email and will contact you shortly...
  </div>
  {% endif %}

  <!-- ***** Contact Area Start ***** -->
  <section class="dento-contact-area mt-50 mb-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="google-maps mb-100">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d42135.936941947584!2d-3.1879572652236745!3d55.94900327617072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c7f4fb799f7b%3A0x5feb93f64f177951!2sEdinburgh%20EH7%204GQ%2C%20UK!5e1!3m2!1sen!2sus!4v1776507958309!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
      </div>

      <div class="row">
        <!-- Contact Information -->
        <div class="col-12 col-md-4">
          <div class="contact-information">
            <h5>Address</h5>
            <p>28 Jackson Street, Chicago, 7788569 USA</p>

            <h5>Phone</h5>
            <p>+84. 2252. 2250. 122</p>

            <h5>Fax</h5>
            <p>+84. 2252. 2250. 125</p>

            <h5>Email</h5>
            <p class="mb-0">info.dento@gmail.com</p>
          </div>
        </div>

        <!-- Contact Form -->
        <div class="col-12 col-md-8">
          <div class="contact-form">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2>Get In Touch</h2>
              <div class="line"></div>
            </div>
            <!-- Form -->
            <form action="{% url 'contact' %}" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-lg-6">
                  <input type="text" name="message-name" class="form-control mb-30" placeholder="Your Name">
                </div>
                <div class="col-lg-6">
                  <input type="email" name="message-email" class="form-control mb-30" placeholder="Your Email">
                </div>
                <div class="col-12">
                  <textarea name="message" class="form-control mb-30" placeholder="Your Message"></textarea>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn dento-btn">Send Message</button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Contact Area End ***** -->

{% endblock %}